.square{
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-left-width: 100px;
    border-right-width: 100px;
    border-left-color: green;
    border-right-color: blue;
    height: 200px;
    width: 200px;
    z-index: -1;
}

.square:before {
    content: "";
    position :absolute;
    background-color: yellow;
    top: -3px;
    left: -100px;
    height: 100px;
    width: 100px;
    z-index: 10;
}

.square:after {
    content: "";
    position :absolute;
    background-color: red;
    top: -3px;
    left: 0px;
    height: 100px;
    width: 100px;
    z-index: 10;
}